.animation {
    stroke-dasharray: 1120;
    stroke-width: 2px;
    fill: transparent;
    stroke: #75d77e;
    transition-timing-function: linear;
    transition: stroke-dashoffset 4s;
    stroke-dashoffset: 1120;
}

#homeBorder1, #homeBorder2, #projectBorder1, #projectBorder2 {
    stroke-dasharray: 1461;
    stroke-width: 2px;
    fill: transparent;
    stroke: #75d77e;
    transition-timing-function: linear;
    transition: stroke-dashoffset 4s;
}

#aboutBorder1, #aboutBorder2 {
    stroke-dasharray: 2000;
    stroke-width: 2px;
    fill: transparent;
    stroke: #75d77e;
    transition-timing-function: linear;
    transition: stroke-dashoffset 4s;
}

#aboutBorder1 {
    stroke-dashoffset: 2000;
}

#aboutBorder2 {
    stroke-dashoffset: -1750;
}

#homeBorder1, #projectBorder1 {
    stroke-dashoffset: 1461;
}

#homeBorder2, #projectBorder2 {
    stroke-dashoffset: -1461;
}

#home, #about, #projects, .image {
    opacity: 1;
    will-change: opacity, visibility;
}

.svg-wrapper:hover .animation {
    stroke-dashoffset: 0;
}

.loader:after {
    content: " ";
    display: block;
    width: 30px;
    height: 30px;
    margin: 8px;
    border-radius: 50%;
    border: 3px solid white;
    border-color: white transparent white transparent;
    animation: loader 1.2s linear infinite;
}

@keyframes loader {
    0% {
        transform: rotate(0deg);
    }
    
    100% {
        transform: rotate(360deg);
    }
}

.project img {
    transition: margin-top .5s;
}

#form-container {
    transition: right 2s;
}

.placeholder, .message-placeholder {
    transform-origin: 0 50%;
    transition: transform .2s, color .2s;
}

.form-input:focus ~ .placeholder {
    transform: translateY(-30px) translateX(-5px);
    color: #75d77e;
    opacity: 1;
}

.form-input:focus ~ .message-placeholder {
    transform: translateY(-60px) translateX(-5px);
    color: #75d77e;
    opacity: 1;
}

.alt-close-form {
    transition: all .2s ease-in-out;
}

.alt-close-form:hover {
    transform: translate3d(0px, -29px, 0px);
}

.alt-send-button {
    transition: all .2s ease-in-out;
}

.alt-send-button:hover {
    transform: translate3d(0px, -29px, 0px);
}

.alert {
    transition: margin-left 1s;
}

.alt-button {
    transition: all .2s ease-in-out;
}

.alt-button:hover {
    transform: translate3d(0px, -29px, 0px);
}

/* .menu {
    transition: margin-right .4s ease-in-out;
}

.menubars {
    transition: transform .4s ease-in-out;
} */

#github, #linkedin {
    transition: transform .2s;
}

#github:hover, #linkedin:hover {
    transform: scale(1.3);
}