@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .svg-wrapper {
        @apply translate-y-1/2
    }

    .content-wrapper {
        @apply flex justify-center ml-24 bg-veryDarkBlue
    }

    .navbar-button {
        @apply hidden xl:flex text-xl text-white -top-14 relative w-24 text-center mt-px active:text-lg active:opacity-50 justify-center
    }

    .navbar {
        @apply top-0 flex justify-end w-screen
    }

    .animation {
        @apply hidden xl:flex
    }

    .menu {
        @apply w-[10rem] h-[17rem] bg-darkGrey absolute -mt-[20rem] flex justify-center items-center rounded-bl-[15px]
    }

    .menubars {
        @apply flex h-10 w-10 mr-14 mt-10 flex-col justify-evenly cursor-pointer absolute xl:hidden
    }

    .menu-line {
        @apply block h-[4px] w-full rounded-[10px] bg-white
    }

    .about-container, .home-container, .thankYou-container {
        @apply xl:ml-60 ml-20 -mt-16 h-96 p-3 xl:w-[52%] w-[15rem]
    }

    .project-container {
        @apply xl:ml-60 ml-20 w-[62%] xxxl:h-[40rem] xl:h-[30rem] -mt-16
    }

    .project-cards {
        @apply h-[60%] w-[62%] flex justify-between absolute
    }

    .project {
        @apply w-[32%] h-[98%] rounded-[15px] overflow-hidden
    }

    .project img {
        @apply object-cover h-full absolute cursor-pointer
    }

    .project img:hover {
        @apply -mt-[26%]
    }

    .projectinfo {
        @apply  pl-[5%] xxxl:pt-[4%] xl:pt-[2%] w-full h-[20%] mt-[120%]  bg-lighterGray border-t-4 border-limeGreen
    }

    .home-container p, .about-container p, .thankYou-container p {
        @apply xl:text-[140%] whitespace-normal
    }

    .projectinfo h1 {
        @apply xxl:text-2xl xl:text-[100%]
    }

    .projectinfo p {
        @apply xxxl:text-lg xl:text-[90%] whitespace-normal text-[grey]
    }

    .image {
        @apply ml-12 xl:ml-40 flex justify-start py-5 bg-veryDarkBlue w-8
    }

    .image img {
        @apply xl:w-[30px] xl:h-[30px] w-[20px] h-[20px]
    }

    .top-lines {
        @apply hidden xl:inline absolute top-0 overflow-hidden
    }

    #projectImage, #aboutImage, #thankImage {
        @apply xxxl:mt-[35%] xl:mt-[50%]
    }
}

.menu {
    transition: margin-top .4s ease-in-out;
}

.menubars {
    transition: transform .4s ease-in-out;
}

/* form styles start */
#form-container {
    top: 0;
    right: -35rem;
    height: 100%;
    width: 35rem;
    position: fixed;
    background-color: #141C24;
    display: flex;
    justify-content: center;
    transition: right 2s;
}

#close-form {
    position: absolute;
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
    margin-right: 30rem;
    width: 50px;
    height: 35px;
    overflow: hidden;
}

.alt-close-form {
    width: 50px;
    height: 35px;
    transition: all .2s ease-in-out;
}

.alt-close-form img {
    margin-left: 8px;
}

.close-text {
    display: block;
    margin-top: 5px;
}

.alt-close-form:hover {
    transform: translate3d(0px, -29px, 0px);
}

#form-wrapper {
    margin-top: 15rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 20rem;
    height: 20rem;
}

.form-input {
    width: 20rem;
    margin-top: .5rem;
    border-radius: 5px;
    background: #3f3f3f;
    padding: 5px;
}

.form-submit {
    display: flex;
    justify-content: center;
    background-color: #77d75e;
    cursor: pointer;
    width: 20rem;
    height: 30px;
    margin-top: .5rem;
    border-radius: 5px;
    overflow: hidden;
}

.alt-send-button {
    width: 20rem;
    height: 30px;
    padding-top: 5px;
    transition: all .2s ease-in-out;
}

.alt-send-button img {
    margin-left: 9.5rem;
}

.send-text {
    display: block;
    margin-top: 8px;
}

.alt-send-button:hover {
    transform: translate3d(0px, -29px, 0px);
}
/* form styles end */

/* alert styles start */
.alert {
    position: absolute;
    width: 20rem;
    height: 100px;
    margin-top: 47rem;
    margin-left: 55rem;
    border-radius: 5px;
    background-color: #2f2f2f;
    display: inline;
    transition: margin-left 1s;
}

.alertheader {
    width: 20rem;
    height: 22px;
    border-radius: 5px 5px 0 0;
    padding-left: 5px;
    display: flex;
    background-color: #77d75e;
}
/* alert styles end */

.top-lines #line1 {
    margin-left: 10.75rem;
    margin-top: -0.1rem;
}

.top-lines #line2 {
    margin-top: -11rem;
    margin-left: -2rem;
}

/* svg lines styles start */
.line {
    position: absolute;
    overflow: hidden;
    margin-top: 15rem;
    margin-left: 10.75rem;
}
/* svg lines styles end */

/* view page source button start */
.buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 1.5rem;
    margin-right: 30rem;
    width: 200px;
    height: 35px;
    overflow: hidden;
}

.alt-button {
    height: 30px;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.view-text {
    display: block;
    margin-top: 5px;
}

.alt-button:hover {
    transform: translate3d(0px, -29px, 0px);
}
/* view source button end */

#github, #linkedin {
    transition: transform .2s;
}

#github:hover, #linkedin:hover {
    transform: scale(1.3);
}