@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .svg-wrapper {
        @apply translate-y-1/2
    }

    .content-wrapper {
        @apply flex justify-center ml-24
    }

    .navbar-button {
        @apply hidden xl:flex text-xl text-white -top-14 relative w-24 text-center mt-px active:text-lg active:opacity-50 justify-center
    }

    .navbar {
        @apply top-0 flex justify-end w-screen sticky
    }

    .animation {
        @apply hidden xl:flex
    }

    .homeinfo h1 {
        @apply text-3xl
    }

    .homeinfo p {
        @apply opacity-50 text-lg
    }

    .image {
        @apply w-96 ml-36 flex justify-start pt-5
    }
}

.navbar {
    position: -webkit-sticky;
}

#home, #about, #projects {
    width: 600px;
}

#about, #projects {
    margin-top: 35%;
}

footer {
    margin-top: 50%;
}