@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .svg-wrapper {
        @apply translate-y-1/2
    }

    .content-wrapper {
        @apply flex justify-center ml-24 bg-veryDarkBlue
    }

    .navbar-button {
        @apply hidden xl:flex text-xl text-white -top-14 relative w-24 text-center mt-px active:text-lg active:opacity-50 justify-center
    }

    .navbar {
        @apply top-0 flex justify-end w-screen
    }

    .animation {
        @apply hidden xl:flex
    }

    .homeinfo {
        @apply absolute inline w-96 h-64 text-center py-16
    }

    .aboutinfo {
        @apply ml-60 -mt-16 h-96 p-3 w-[60rem]
    }

    .homeinfo h1 {
        @apply text-3xl
    }

    .homeinfo p, .aboutinfo p {
        @apply opacity-50 text-lg whitespace-normal
    }

    .aboutinfo p {
        @apply text-2xl
    }

    .image {
        @apply w-96 ml-40 flex justify-start py-5 bg-veryDarkBlue
    }

    .top-lines {
        @apply absolute top-0 overflow-hidden
    }
}


#home, #projects {
    width: 600px;
}

#projects, #aboutImage {
    margin-top: 35%;
}

#form-container {
    top: 0;
    right: -35rem;
    height: 100%;
    width: 35rem;
    position: fixed;
    background-color: #141C24;
    display: flex;
    justify-content: center;
    transition: right 2s;
}

#close-form {
    position: absolute;
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
    margin-right: 30rem;
    width: 50px;
    height: 35px;
    overflow: hidden;
}

.alt-close-form {
    width: 50px;
    height: 35px;
    transition: all .2s ease-in-out;
}

.alt-close-form img {
    margin-left: 8px;
}

.close-text {
    display: block;
    margin-top: 5px;
}

.alt-close-form:hover {
    transform: translate3d(0px, -29px, 0px);
}

#form-wrapper {
    margin-top: 15rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 20rem;
    height: 20rem;
}

.form-input {
    width: 20rem;
    margin-top: .5rem;
    border-radius: 5px;
    background: #3f3f3f;
    padding: 5px;
}

.form-submit {
    display: flex;
    justify-content: center;
    background-color: #77d75e;
    cursor: pointer;
    width: 20rem;
    height: 30px;
    margin-top: .5rem;
    border-radius: 5px;
    overflow: hidden;
}

.alt-send-button {
    width: 20rem;
    height: 30px;
    padding-top: 5px;
    transition: all .2s ease-in-out;
}

.alt-send-button img {
    margin-left: 9.5rem;
}

.send-text {
    display: block;
    margin-top: 8px;
}

.alt-send-button:hover {
    transform: translate3d(0px, -29px, 0px);
}

.alert {
    position: absolute;
    width: 20rem;
    height: 100px;
    margin-top: 47rem;
    margin-left: 55rem;
    border-radius: 5px;
    background-color: #2f2f2f;
    display: inline;
    transition: margin-left 1s;
}

.alertheader {
    width: 20rem;
    height: 22px;
    border-radius: 5px 5px 0 0;
    padding-left: 5px;
    display: flex;
    background-color: #77d75e;
}

.top-lines #line1 {
    margin-left: 10.75rem;
    margin-top: -0.1rem;
}

.top-lines #line2 {
    margin-top: -11rem;
    margin-left: -2rem;
}

.line {
    position: absolute;
    overflow: hidden;
    margin-top: 32rem;
    margin-left: 10.75rem;
}

footer {
    margin-top: 50%;
}